<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <script src="../js/vue.js"></script>
    </head>

    <body>
        <div id="app">
            <ul>
                <!-- 1.在遍历对象时，若只是获取一个值，获取到的是value -->
                <li v-for="item in info">{{item}}</li>

                <!-- 2.获取key和value 格式：(value,key) -->
                <li v-for="(value,key) in info">{{key}}:{{value}}</li>

                <!-- 3.也可获取index但不常用 -->
                <li v-for="(value,key,index) in info">{{key}}:{{value}} {{index}}</li>
            </ul>
        </div>
        <script>
            const app=new Vue({
                el:"#app",
                data:{
                    info:{
                        name:"lala",
                        age:19,
                        height:1.88
                    },
                }
            });
        </script>
    </body>
</html>