<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <script src="../js/vue.js"></script>
    </head>

    <body>
        <div id="app">
            <!-- name属性互斥 -->
            <!-- <label for="male">
                <input type="radio" id="male" name="sex">男
            </label>
            <label>
                <input type="radio" id="female" name="sex">女
            </label> -->

            <label for="male">
                <input type="radio" id="male" value="男" v-model="sex">男
            </label>
            <label>
                <input type="radio" id="female" value="女" v-model="sex">女
            </label>
            <h2>你选择的性别是:{{sex}}</h2>
        </div>
        <script>
            const app =new Vue({
                el:'#app',
                data:{
                    message:"你好啊",
                    sex:'女'
                }
            });
        </script>
    </body>
</html>