<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <script src="../js/vue.js"></script>
    </head>

    <body>
        <div id="app">
            <!-- checkbox单选框 -->
            <div>
                <label for="agree">
                    <input type="checkbox" id="agree" v-model="isAgree">同意协议
                </label>
                <h2>你选择的是：{{isAgree}}</h2>
                <button :disabled="!isAgree">下一步</button>
            </div>
            <br/>

            <!-- checkbox复选框 -->
            <div>
                <label for="hobby" id="hobby" >
                    <input type="checkbox" value="音乐" v-model="hobbies">音乐
                    <input type="checkbox" value="电视剧" v-model="hobbies">电视剧
                    <input type="checkbox" value="书籍" v-model="hobbies">书籍
                    <input type="checkbox" value="舞蹈" v-model="hobbies">舞蹈
                    <input type="checkbox" value="纪录片" v-model="hobbies">纪录片
                </label>
                <h2>你选择的爱好是：{{hobbies}}</h2>
            </div>
        </div>
        <script>
            const app =new Vue({
                el:'#app',
                data:{
                    message:"你好啊",
                    isAgree:false,
                    hobbies:[]
                }
            });
        </script>
    </body>
</html>