<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <script src="../js/vue.js"></script>
    </head>

    <body>
        <div id="app">
            <!-- 1.选择一个 -->
            <select name="a" id="" v-model="fruit">
                <option value="苹果">苹果</option>
                <option value="西瓜">西瓜</option>
                <option value="猕猴桃">猕猴桃</option>
                <option value="橘子">橘子</option>
            </select>
            <h2>你选择的水果是：{{fruit}}</h2>

            <!-- 2.选择多个 【注意】multiple！-->
            <select name="b" v-model="fruits" multiple>
                <option value="苹果">苹果</option>
                <option value="西瓜">西瓜</option>
                <option value="猕猴桃">猕猴桃</option>
                <option value="橘子">橘子</option>
            </select>
            <h2>你选择的水果是：{{fruits}}</h2> 
        </div>

        <script>
            const app=new Vue({
                el:'#app',
                data:{
                    message:'你好啊',
                    fruit:'西瓜',
                    fruits:[]
                }
            });
        </script>
    </body>
</html>