<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <cpn :number1="num1" :number2="num2" @num1change="num1change" @num2change="num2change"></cpn>
  </div>

  <template id="cpn">
    <div>
      <h3>props:{{number1}}</h3>
      <h3>data:{{dnumber1}}</h3>
      <input type="text" v-model="dnumber1">
      <!-- <input type="text" v-bind:value="dnumber1" @input="num1Inuput"> -->
      <h3>props:{{number2}}</h3>
      <h3>data:{{dnumber2}}</h3>
      <input type="text" v-model="dnumber2">
      <!-- <input type="text" v-bind:value="dnumber2" @input="num2Inuput"> -->

    </div>
  </template>

  <script src="../js/vue.js"></script>
  <script>
    const cpn={
      template:"#cpn",
      props:{
        number1:Number,
        number2:Number
      },
      data() {
        return {
          dnumber1:this.number1,
          dnumber2:this.number2
        }
      },
      watch:{
        dnumber1(newValue,oldValue){
          this.$emit("num1change",newValue);
          this.dnumber2=newValue * 100;
        },
        dnumber2(newVal,oldVal){
          this.$emit("num2change",newVal);
          this.dnumber1=newVal / 100;
        }
      }
      // methods:{
      //   num1Inuput(event){
      //     //1.将input中的value值赋值到dnmber中
      //     this.dnumber1=event.target.value;
      //     //2.为了让父组件修改值，发出一个事件
      //     this.$emit("num1change",this.dnumber1);
      //     //3.同时修改dnumber2的值
      //     this.dnumber2=this.dnumber1 * 100;
      //     this.$emit("num2change",this.dnumber2);
      //   },
      //   num2Inuput(event){
      //     this.dnumber2=event.target.value;
      //     this.$emit("num2change",this.dnumber2);
      //     this.dnumber1=this.dnumber2 / 100;
      //     this.$emit("num1change",this.dnumber1);
      //   }
      // }
    }

    const app = new Vue({
      el: "#app",
      data: {
        num1:1,
        num2:2
      },
      components:{
        cpn
      },
      methods:{
        num1change(value){
          
          this.num1=parseFloat(value);
        },
        num2change(value){
          this.num2=parseFloat(value);
        }
      }
    });
  </script>
</body>
</html>